{% extends "layout.html" %}
{% block content %}
      <div class="content">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="card card-upgrade">
              <div class="card-header text-center">
                <h4 class="card-title">We are KSG</h3>
                  <p class="card-category">Are you looking for more components? Please check our Premium Version of Black Dashboard PRO.</p>
              </div>
              <div class="card-body">
                Property assessment is a crucial part of both homeownership and the buying and selling of properties.
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
